
/*.faugh-main{
  display:flex;
  align-items: center;
  justify-content:center;
  min-height: 500px

}*/

.parent-center{

   text-align:center;
}

.logo-center{
  margin: 0 auto;
}

.clild-center{
   position:relative;
   top:50%;
   left: 50%;
}

.choose-signup-box{
  background: #FD996B;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

}
.fun-box{
    background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    color: white
}
