<div class="row">
    <div class="col-lg-12 fheight80">
        <img src="assets/full-name.jpg" height="100%" />
    </div>

</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 well faugh-main" >
        <div class="continer">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-4 fauth-header">
                    <h3>Sign in to Fundle</h3>
                </div>
                <div class="col-lg-12 fheight25">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-5 ">
                                <div class="container-fluid">
                                    <div class="col-lg-12  fheight80">

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <a href="#" class="btn btn-default" (click)="facebookLoginClick()">
                                             <img src="assets/facebook.png" width="100%" height="100%" />
                                            </a>
                                        </div>
                                        <div class="col-lg-12  fheight25">

                                        </div>
                                        <div class="col-lg-12">
                                            <button class="btn btn-default" id="googleBtn">
                                                <img src="assets/google.png"  width="100%" height="100%" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-2 ">
                                <div class="container-fluid">
                                    <div class='row'>
                                        <div class='col-lg-offset-3 flvertical-line flvertical-line' style="height: 250px; width:3px; z-index: 1; position: relative;">

                                        </div>
                                        <div class="col-lg-offset-3 well" style="top: -150px;left: -26px; height: 60px; width:60px; z-index: 2; position: relative; border-radius: 50px;">
                                            OR
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-5 fauth-form ">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12 fheight50">
                                        </div>
                                        <div class="col-lg-12">
                                            <form [formGroup]="loginForm" (ngSubmit)="login_submit()" novalidate>
                                                <div class="form-group">
                                                    <label for="username">Username</label>
                                                    <input type="text" class="form-control" formControlName="userName" #refUserName placeholder="please enter user name" />
                                                    <div *ngIf="loginForm.controls['userName'].hasError('required') && refUserName.touched" class="alert alert-danger">
                                                        please enter user name
                                                    </div>
                                                    <div *ngIf="loginForm.controls['userName'].hasError('minlength')" class="alert alert-danger">
                                                        please enter at least 4 characters
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" class="form-control" formControlName="password" #refPassword placeholder="password" />
                                                    <div *ngIf="loginForm.controls['password'].hasError('minlength')" class="alert alert-danger">
                                                        please enter at least 6 characters
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
                                                </div>
                                            </form>
                                            <a  (click)="forgotPassword()">Forgot Password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row ">
                <div [ngBusy]="busy"></div>
                <div class="col-lg-12 fcenter">
                    <a  (click)= "signupChoose()">
                        <p>
                            No account yet ? Sign up
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>





<!--<div>
    <button  md-button (click)="referralCodeDialog()">Launch dialog</button>
You chose: {{selectedOption}}
</div>-->

<!--
    227874155013-rqjdr934pdr6r6sv710nlmhvda6g258e.apps.googleusercontent.com
-->