<div class="col-lg-6 fblue col-lg-offset-3">
  <div class="container">
    <div class="row">
    
      <div class="col-lg-3 fgreen">


      </div>
      
      <div class="col-lg-col-9 fred">
        <div class="container">
          <div class="row ">
            <div class="col-md-11 well">
              <img src="/assets/amir.jpeg" alt="Avatar" >
              <p>Hello. How are you today?</p>
              <span class="time-right">11:00</span>
            </div>


            <div class="col-md-11 well">
              <img src="/assets/amir.jpeg" alt="Avatar" class="right">
              <p>Hey! I'm fine. Thanks for asking!</p>
              <span class="time-left">11:00</span>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>
